@charset "UTF8";

*{margin: 0px;}

body
{font-family: Arial, Helvetica, sans-serif;
background-color: lightgray;}

header
{height:200px;
background-color: black;
color:white;
font-size: 3em;text-align: center;}

main
{max-width: 700px;
margin: auto;
background-color: white;}

main > p
{padding: 10px;
font-size: 1.2em;
text-align: justify;}

main > h1
{padding: 5px;
font-size: 3em;}

footer
{height: 200px;
background-color: black;
color:white;
font-size: 3em;
text-align:center;}