@charset "UTF8";

@font-face
{font-family:'fungames';
src: url('fontes/Fun\ Games.otf') format('opentype');}

:root
{--game1: 'fungames', 'cursive';

--cor0:#56009c;
--cor1:#ff3e1c;
--cor2:#ff0000;
--cor3:#E05F00;
--cor4:#FA9411;
--cor5:#2e2e2e;}

*
{margin: 0px;
padding: 0px;}

body
{background-image: url('Imagens/vava.jpg');
background-position: center center;
background-size: cover;
background-attachment: fixed;
height: 100vh;}

header
{height: 150px;
background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.466);}

header > h1
{color: white;
font-family: var(--game1);
padding-top: 20px;    
text-align: center;
font-size: 4em;
font-weight: normal;}


span#burguer
{display: block;
color: white;
text-align: center;
font-size: 2em;
padding: 10px;
cursor: pointer;
background-color: var(--cor2);}

span#burguer:hover
{color:var(--cor0);
border: 2px solid var(--cor0);}

menu
{padding-bottom: 0px;
display: none;}

menu a
{color:white;
padding: 5px;
font-weight: bold;
font-size: 1.3em;
text-decoration: none;
background-color: #2e2e2e;
display: block;
border: 1px solid white;
text-align: center;}

li#ut
{border-bottom: 1px solid white;}

menu  a:hover
{color: white;
background-color: var(--cor0);
transition: 1s;}

img
{width:95%;
display: block;
margin: auto;}

main
{background-color: white;
max-width: 800px;
min-width: 300px;
margin: auto;
box-shadow:0px 2px 10px rgba(0, 0, 0, 0.466);}

main h2
{color: #e0181c;
padding: 10px;
padding-top: 20px;
font-family: var(--game1);
font-size: 2em;}

main p
{margin: 15px 0px;
padding-left: 20px;
padding-right: 20px;
text-align: justify;
text-indent: 30px;
font-size: 1em;
line-height: 1.5em;}

div.id
{position: relative;
background-color:white;
margin: 0px -0px 30px -0px;
padding: 20px;
padding-bottom: 58%;}

div.id > iframe
{position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;}

footer
{height: 100px;
padding-top: 20px;
background-image: linear-gradient(to bottom, var(--cor2), var(--cor0));}

footer > p
{text-align: center;
    color: white;
    font-size: 2em;
    font-family: var(--game1);
padding-top: 20px;}