@charset "UTF8";

body{font-family: Arial, Helvetica, sans-serif;}

div > p{display: none;}

div:hover >p{display: block;
             color: white;
             background-color: black;
             width: 400px;} 
             

div:hover{color: red;}