@charset "UTF8";

*
{margin: 0px;
padding: 0px;}

html
{font-family: 'Courier New', Courier, monospace;
font-size: 1.5em;
line-height: 1.5em;}

nav
{display: none;}

article::after
{content: 'Impresso dia 08.05.2023';}

